*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

html,body{

width:100%;
height:100%;
overflow:hidden;
background:transparent;

}

#overlay{

width:100%;
height:100%;
position:relative;

}

/* LOGO SUPERIOR */

#logoSuperior{

position:absolute;
top:20px;
right:20px;
width:160px;
z-index:100;

}

/* CHAT */

#chat{

position:absolute;
top:20px;
right:20px;
width:360px;
height:720px;
background:rgba(0,0,0,.82);
border:2px solid #ffc400;
border-radius:12px;
overflow:hidden;

}

#chatHeader{

height:55px;
background:#111;
border-bottom:2px solid #ffc400;
display:flex;
align-items:center;
padding-left:18px;
color:white;
font-weight:800;
font-size:20px;

}

.liveDot{

width:12px;
height:12px;
background:red;
border-radius:50%;
margin-right:10px;

}

#mensajes{

padding:18px;

}

.msg{

color:white;
font-size:20px;
padding:12px 0;
border-bottom:1px solid rgba(255,255,255,.15);

}

.nombre{

color:#ffc400;
font-weight:700;

}

/* BANNER */

#barra{

position:absolute;

bottom:0;

left:0;

width:100%;

height:105px;

background:#090909;

border-top:4px solid #ffc400;

display:flex;

align-items:center;

}

/* LOGO */

#logoBanner{

width:300px;

height:100%;

display:flex;

justify-content:center;

align-items:center;

background:#111;

border-right:4px solid #d81e1e;

}

#logoBanner img{

max-height:85px;

}

/* TITULO */

#programa{

width:360px;

color:white;

font-size:38px;

font-weight:900;

padding-left:30px;

}

/* TICKER */

#ticker{

flex:1;

color:white;

font-size:24px;

font-weight:600;

}

/* INFO */

#datos{

width:470px;

display:flex;

justify-content:space-evenly;

align-items:center;

font-size:26px;

font-weight:700;

color:white;

border-left:4px solid #ffc400;

padding-right:180px;

}

.separador{

width:3px;

height:36px;

background:#ffc400;

}

/* EN VIVO */

#envivo{

position:absolute;

right:18px;

bottom:18px;

background:linear-gradient(#ff2b2b,#b30000);

padding:14px 28px;

color:white;

font-size:24px;

font-weight:900;

border-radius:10px;

border:2px solid #ff6666;

box-shadow:0 0 18px rgba(255,0,0,.5);

}
